@charset "UTF-8";

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.output_scene{
    background-color: antiquewhite;
}

.uzumaki_border {
    /* border-image-source: url(./assets/images/uzumaki_bishii.png); */
    width: 100%;
    background-repeat: repeat-x;
}

.waiting_table {
    width: 66%;
    height: 100%;
    border: solid 1px;
    margin-left: 2px;
    margin-right: 3px;

    float: left;
}


.waiting_table>thead {
    width: 100%;
    height: 10%;
    background-color: blue;
    color: white;
    font-size: 3.5em;
}
.waiting_table>tbody {
    color: blue;
    height: 100%;
}

.wating_number_tr {
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.wating_number_th {
    width: 100vw;
    height: 100%;
    padding-top: inherit;
    padding-left: 10pt;
    font-size: 30pt;

    text-align: center;
    border-bottom: 1px solid;
    /* margin:0;
    padding: 0; */
}

.cooked_table {
    width: 33%;
    height: 100%;
    border: 1px solid;
    margin-left: auto;
    margin-right: 2px;
    float: right;
}
.cooked_table>thead {
    width:100%;
    background-color: red ;
    color: white;
    font-size: 3.5em;
}
.cooked_table>tbody {
    width: 100%;
    height: 100%;
    color: red;
    font-size: 30pt;
}
.cooked_number_tr {
    width: 100%;
    height: auto;

}

.cooked_number_th {
    width: 100vw;
    height: 100%;
    border-bottom: 1px solid;
}